In [2]:
library(dplyr)

In [5]:
data(mtcars)
mtcars%>%head()

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

### LET'S CREATE A GROUP ID WITH GROUP DEFINED BY UNIQUE CYL AND GEAR VALUES

In [12]:
# check the # of unique combinations of cyl and gear
mtcars%>%
arrange(cyl,gear)%>%
distinct(cyl,gear)

# We have 8 groups. curr_group_id assigned a group id based on the grouping vars
mtcars%>%
group_by(cyl,gear)%>%
mutate(group_id = cur_group_id())%>%
arrange(group_id)%>%
distinct(group_id)

mtcars%>%
group_by(cyl,gear)%>%
mutate(group_id = cur_group_id())%>%
arrange(group_id)%>%
head()

                  cyl gear
Toyota Corona     4   3
Datsun 710        4   4
Porsche 914-2     4   5
Hornet 4 Drive    6   3
Mazda RX4         6   4
Ferrari Dino      6   5
Hornet Sportabout 8   3
Ford Pantera L    8   5

  cyl gear group_id
1 4   3    1
2 4   4    2
3 4   5    3
4 6   3    4
5 6   4    5
6 6   5    6
7 8   3    7
8 8   5    8

  mpg  cyl disp  hp drat wt    qsec  vs am gear carb group_id
1 21.5 4   120.1 97 3.70 2.465 20.01 1  0  3    1    1
2 22.8 4   108.0 93 3.85 2.320 18.61 1  1  4    1    2
3 24.4 4   146.7 62 3.69 3.190 20.00 1  0  4    2    2
4 22.8 4   140.8 95 3.92 3.150 22.90 1  0  4    2    2
5 32.4 4    78.7 66 4.08 2.200 19.47 1  1  4    1    2
6 30.4 4    75.7 52 4.93 1.615 18.52 1  1  4    2    2